* {
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    box-sizing: border-box;

}



@import url('https://fonts.googleapis.com/css2? family= Hind+Madurai:wght@300;600;700 & display=swap');





@media (min-width: 1024px) {        
    body {
        width: 100%;
        height: 100vh;
        
    }  

    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 15px;
    }

    li {
        display: inline-block;
        background-color: rgb(8, 8, 8);
        width: 130px;
        height: 40px;
        padding: 1px;
        margin: 1px;
        border: outset 2px white;        
    }
    nav {
        padding: 10px;
       text-align: center;
       font-size: 15px;   
   }

   .foto-animada {
       animation-name: texto;
       animation-duration: 3s;
       animation-iteration-count: 1;
   }

   .caja-animada {
       animation-name: caja;
       animation-duration: 2s;
       animation-iteration-count: infinite;
      
    }
    
   }

   .barra-animada {
        animation-name: barra;
        animation-duration: 1s;
        animation-iteration-count: 5;
   }





   @keyframes texto {
       from {
           transform: translateX(50px);
       }
       to{
           transform: translateX(0px);
       }
   }

   @keyframes caja {
       0% {
           transform: translatey(0px)
       }
       25% {
           transform: translatey(5px)
       }
       50% {
           transform: translatey(0px);
       }
       75% {
        transform: translatey(-5px)
    }
       100%{
        transform: translatey(0px)
       }
   }

   @keyframes barra {
    from{
        transform: translatey(-10px);
    }
    to {
        transform: translatey(0px);
    }
    
   }

   




    #grillas-areas {
        display: grid;
        grid-template-areas:
        "header header header" 
        "cabeza cabeza cabeza"
        "servicios servicios testi"
        "contactar contactar testi"
        "pie pie pie"
        ;
        grid-template-columns: 20% 60% auto;
        grid-template-rows: 1fr 2fr 5fr 5fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;         
            
        }
    
        
        

@media (min-width: 481px) and (max-width:1023px) {
    body {
        width: 100%;
        height: 100vh;
        
    }
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 10px;
    }

    li {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        width: 160px;
        height: 35px;
        padding: 1px;
        margin: 1px;
        border: outset 2px white;        
    }

    nav {
        padding: 10px;
       text-align: center;
       font-size: 10px;   
   }


    #grillas-areas {
        display: grid;
        grid-template-areas:
        "header header" 
        "cabeza cabeza"
        "servicios servicios"
        "contactar testi"
        "pie pie"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;         
            
        }
}

@media (max-width: 480px) {
    body{
        width: 100%;
        height: 100vh;
        
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 10px;
    }

    li {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        width: 160px;
        height: 35px;
        padding: 1px;
        margin: 1px;
        border: outset 2px white;        
    }

    nav {
        padding: 10px;
        text-align: center;
        font-size: 10px;
        align-items: center;   
   }


   
    #grillas-areas {
        display: grid;
        grid-template-areas:
        "header" 
        "cabeza"
        "servicios"
        "contactar"
        "testi"
        "pie"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 8fr 2fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;         
            
        }

}








body {
    background-color: rgb(129, 201, 191);
}


#header {
    grid-area: header;
    align-items: center;
    text-align: start;
   
    width: 100%;
    
  
    color: rgb(255, 255, 255);   
}

#servicios {
    grid-area: servicios;
            
}

#testimonios {
    grid-area: testi;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgb(38, 36, 82) 0%, rgba(9,105,121,1) 35%, rgb(117, 72, 106) 100%);
    ;
}

#contactar {
    grid-area: contactar;
    align-items: center;
    padding: 3%;
}



#cabeza {
    grid-area: cabeza;
    background-color: rgb(129, 201, 191) ;    
    border-radius: 6px
}

#pie {
    grid-area: pie;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 50px 0px 10px 20px;   
    line-height: 20px;
    align-items: flex-end;  
              
}

.transicion {
    transition: all 2s;
}
.transicion:hover {
    width: 100%;
    ;
    
}
      
    p {
        font-size: 12px;
    }
    
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 14px;
        padding: 8px;
    }
    
    h5 {
        font-size: 20px;
    }
    



    .flexDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        

       
    }

    .CajaInicio {
        text-align: center;
        background-color: aliceblue;
        border-radius: 6px;  
        color: black;
        
    }
    
    .galeria {
        padding: 15px;
        margin: 5px;
        text-align: center;
        align-items: center;
               
       
    }
    
    .contactate {
        padding: 20px;
        margin: 25px;
        text-align: center;
        
    }
    
    .seccionContacto {
       
        
        background-image: linear-gradient(90deg, rgb(47, 47, 56) 0%, rgb(39, 107, 119) 35%, rgb(41, 29, 35) 100%);
        border-radius: 6px;
        padding: 10px;
        
        
    }
    
    .imgGaleria {
        width: 300px;
        height: 180px;              
    }

    
    article h5{
        font-size: 15px;
        text-align: center;
        background-color: rgb(255, 254, 254);
        width: 120px;
        height: 25px;
        padding: 1px;  
        border: outset 2px white;
    }


    /*
    article h5{
        font-size: 15px;
        text-align: center;
        background-color: rgb(255, 254, 254);
        width: 120px;
        height: 25px;
        padding: 1px;  
        border: outset 2px white;
        transition: all 1s;    
    }
    
    article h5:hover {
        width: 100%;
        border: solid 3px black;
        cursor: pointer; 
        
    } */

    article a{
        font-size: 15px;
        text-align: center;
        background-color: rgb(255, 254, 254);
        color: black;
        width: 120px;
        height: 30px;
        padding: 1px;  
        border: outset 2px white;
        transition: all 1s;
            
    }
    
    article a:hover {
        width: 100%;
        border: solid 3px black;
        cursor: pointer;
        
    }
    
    a:link {
        text-decoration: none;
        
    }

    a:visited {
        color: rgb(53, 53, 155);
    }
    
 
    



    li:hover {
        border-right: solid 5px black;
        cursor: pointer;
    }






    

    
    
    
    input {
        font-size: 14px;
        margin: 4px;
        padding: 4px;        
    }
    
    
    
    .textoArt {
        padding: 2px;
        margin: 20px 10% 50px 0px;
    }
    
    
    .imagen {
        margin: 20px 0px 50px 10% ;
        padding: 5px;   
    }
    
    .SinSubrayar {
        text-decoration: none;
        color: black;  
    }
    
    .CajaTexto {
        text-align: center;
        background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(15, 56, 63) 35%, rgb(139, 57, 96) 100%);
        border-radius: 6px;                
    }        

    .border {
       padding: 3px;
        border: solid 1px black;
    }
          
    .serviciosFlex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between
    }
    
    .columnaFlex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;            
    }             
 
    .interlineado {
        line-height: 30px;
    }
    
    .normal {
        font-style: normal;
    }
    
    .cursiva {
        font-style: italic;
    }
    
    .paddingtop {
        padding-top: 2%;
    }  
    
    .paddingbotton {
        padding-bottom: 2%;
    }
    
    .negrita {
        font-weight: bold;
    }
    
    .centrar {
        text-align: center;
    }
    
    .contenidoCentrado {
        align-items: center;
        text-align: center;
    }

    .derecha {
        text-align: right;
    }
    
    .textoVerde {
        color:rgb(71, 168, 136);
    
    }
    .textoBlanco {
        color: aliceblue;
    }
    
    
    .pagContact {
        width: 100%;               
         
    }  
    

