$colorFondo: rgb(129, 201, 191);

$colorNegro: rgb(34, 34, 34);

$colorBlanco: rgb(248, 222, 222);

$colorDegrade: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(15, 56, 63) 35%, rgb(139, 57, 96) 100%);

$colorDegradeDos: linear-gradient(90deg, rgb(47, 47, 56) 0%, rgb(39, 107, 119) 35%, rgb(41, 29, 35) 100%);