@import "colores";

body {
    width: 100%;
    height: 100vh;
    background-color: $color-verde;
    }

@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;  
    }

ul {
    list-style: none;
    }

.entrada {
    @include medidas (auto, 25rem) ;
    background-color: $color-negro ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

.navbar {
    background-color: transparent;
.sub-nav{
    @include medidas(auto,auto);
    .celu {
        display: none;
            }
    .margin-top {
        margin-top: 25px;
        }
    .nav-link {
        font-size: 1.1rem;
        &:hover {
            color: $color-verde;
            }
        }
    }
    }

.header {
    @include medidas(auto, 100%);
    padding-bottom: 100px;
    h1 {
        color: $color-blanco;
        font-size: 6rem;
        font-weight: bolder;
        }
    h2 {
        color: $color-verde;
        animation: fadeInLeft;
        animation-duration: 2s;
        }
    }



.footer {
    section {
        color: $color-verde;
        h3 {
            font-size: 1.25rem;
            }
        p {
            margin: 0;
            }
        }
    }


.galeria {
        padding: 15px;
        margin: 5px;
        text-align: center;
        align-items: center; 
    }
    

.seccion-contacto {
        background-image: $color-degrade;
        border-radius: 6px;
        padding: 10px;
    }

.seccion-galeria {
    @extend .seccion-contacto;
    background-image: $color-variante;
    }
    
.img-galeria {
    @include medidas (280px, 180px );          
    }

input {
        font-size: 14px;
        width: 200px;
        margin: 4px;
        padding: 4px;        
    }
      

.caja-texto {
    color: $color-blanco;
    text-align: center;
    background-image: $color-degrade;
    border-radius: 10px;            
    }        


.borde-negro {
    border:solid 2px $color-negro;
    }
      
.servicios-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between
    }

    
.columna-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;            
    }

.programa {
    font-size: 2rem;
    color: $color-negro;
    }
 
.interlineado {
    line-height: 30px;
    }

.cursiva {
    font-style: italic;
    }

.padding-top {
    padding-top: 2%;
    }  

.padding-botton {
    padding-bottom: 2%;
    }

.margin-botton {
    margin-bottom: 1%;
    }

.margin-top {
    margin-top: 1%;
    }

.negrita {
    font-weight: bold;
    }

.centrar {
    text-align: center;
    }

.texto-negro {
    color: $color-negro;
    }

.sin-subrayar {
    text-decoration: none;
    color: $color-negro;
    }

