@import "colores";



#header {
    grid-area: header;
    align-items: center;
    text-align: start;
    width: 100%;
}

#servicios {
    grid-area: servicios;
            
}

#testimonios {
    grid-area: testi;
    justify-content: space-between;
    background: $colorNegro;
}

#contactar {
    grid-area: contactar;
    align-items: center;
    padding: 3%;
}


#cabeza {
    grid-area: cabeza;
    background-color: $colorFondo ;    
    border-radius: 6px
}

#pie {
    grid-area: pie;
    background-color: black;
    color: $colorBlanco;
    padding: 50px 0px 10px 20px;   
    line-height: 20px;
    align-items: flex-end;  
              
}