@import "colores";

#heading {
    grid-area: heading;
    align-items: center;
    text-align: start;
    width: 100%;
}

#servicios {
    grid-area: servicios;
    justify-content: space-around;       
}

#testimonios {
    grid-area: testi;
    justify-content: space-evenly;
    background: $color-negro;
    color: $color-blanco;
    text-align: center; 
    border-radius: 6px;
}

#contactar {
    grid-area: contactar;
    align-items: center;
    padding: 1%;
}


#cabeza {
    grid-area: cabeza;
    background-color: $color-verde ;    
    border-radius: 6px
}

#pie {
    grid-area: pie;         
}