h1, a {
    text-transform: uppercase;
}

h1 {
    font-size: 100px;
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #6cdb91, #7345df, #3db9e6, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
      background-clip: text;
     -webkit-text-fill-color: transparent;

}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

h2 {
font-size: 40px;
}


h3 {
font-size: 25px;
}

h4 {
font-size: 16px; 
}

h5 {
font-size: 14px;
text-align: center;
background-color: $color-verde;
@include medidas(120px, 30px );
padding: 2px;  
border: outset 2px $color-negro;
transition: all 1s;
width: 200px;
&:hover {
    width: 100%;
    border: solid 3px $color-negro;
    cursor: pointer;  
    }
.h5-link {
    
    &:hover {
        width: 100%;
        cursor: pointer;  
        color: $color-negro;
       
    }
}
}

p {
font-size: 12px;
}

a {
    text-decoration: none;
}
